*
{
    padding: 0;
    margin: 2px;
}
 body 
 {
background-image: url(https://i.pinimg.com/originals/05/9a/6a/059a6a21ceac99de8dc532ce6eb8e08b.jpg);
background-size:cover;



 }
.menu-bar 
{
    background: white;
    text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color:black;

}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: black;

}
.content 
{

    
    text-align: center;
    line-height: 2
}
.align
{
    text-align: center;
}